
body {
	font-family:'verdana'; 
	color: gray;
	background-color: #0084a6;
}

.media-waveform {
	margin-left: 250px;
	height: 76px;
}
.reverse {
}

h1 { 
	font-size:16px;
	color:#333;
}
.media-fullscreen {
 position:absolute;
 top: 10px;
 left: 10px;
 background-color: #606060;
border: none;
}
.media-replay {
 position:absolute;
 top: 10px;
 left: 1200px;
 background-color: #606060;
border: none;
}

.media-mute {
 position:absolute;
 top: 10px;
 left: 80px;
 background-color: #606060;
border: none;
}
.media-inc-volume {
 position:absolute;
 top: 10px;
 left: 150px;
 background-color: #606060;
border: none;
}
.media-dec-volume {
 position:absolute;
 top: 10px;
 left: 210px;
 background-color: #606060;
border: none;
}


.media-reverse {
 position:absolute;
 top: 10px;
 left: 530px;
 background-color: #606060;
border: none;
}

.media-play {
 position:absolute;
 top: 10px;
 left: 600px;
 background-color: #606060;
border: none;
}

.media-fastforward {
 position:absolute;
 top: 10px;
 left: 670px;
 background-color: #606060;
border: none;
}




div.media-controls {
	border: none;
	display: flex;
	padding: 1px;
	color: gray;
	background-color: #606060;
	padding: 35px;
	position: relative;
	margin: 0;
}

.player-container {
	border: solid 1px #1e1e1e;
	display: float;
}
.media-title {
	position: relative;
	height: 24px;
}
.media-title p {
	font-size:16px;
	position: absolute;
	margin: 0;
    left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

progress {
	font-size:12px;
	width:1024px;
	height:10px;
	border: 1px solid #000000;
	margin-right:105px;
	margin-left:105px;

}
progress::-moz-progress-bar { background:#ffffff; }

//progress::-webkit-progress-bar {
//  background:#c3c3c3;
//  color:#86c317;
//}
progress::-webkit-progress-value {
  background:#86c317;
  color:#ffffff;
}