
body {
	font-family:'verdana'; 
	color: gray;
	background-color: #0084a6;
}

.media-waveform {
	postion:absolute; 
	top: 0px;
	width:960px;
	height: 76px;
}

.media-fullscreen {
	position:absolute;
	top: 10px;
	left: 0%;
	background-color: #606060;
	border: none;
}

.media-mute {
	position:absolute;
	top: 10px;
	left: 12%;
	background-color: #606060;
	border: none;
}

.vol-control{
	position:absolute;
	top:25px;
	left:21%;
	width:100px !important;
	background-color: #606060;
	border: none;
}

.media-inc-volume {
 position:absolute;
 top: 10px;
 left: 20%;
 background-color: #606060;
border: none;
}

.media-dec-volume {
 position:absolute;
 top: 10px;
 left: 30%;
 background-color: #606060;
border: none;
}

.media-reverse {
	position:absolute;
	top: 10px;
	left: 42%;
	background-color: #606060;
	border: none;
}

.media-play {
	position:absolute;
	top: 10px;
	left: 50%;
	background-color: #606060;
	border: none;
}

.media-fastforward {
	position:absolute;
	top: 10px;
	left: 58%;
	background-color: #606060;
	border: none;
}

.media-replay {
	position:absolute;
	top: 10px;
	left: 90%;
	background-color: #606060;
	border: none;
}

.reverse {
}

h1 { 
	font-size:16px;
	color:#333;
}

.media-video{
	width:960px;
	height:600px;
	border: 0px solid #ff0000;	
}


.media-player{
	position:absolute; 
	top:0px;
	height:600px;
}

div.player-progress{
	position:absolute; 
	top:590px;
}


div.media-controls {
	border: none;
	display: flex;
	padding: 1px;
	color: gray;
	background-color: #606060;
	padding: 0px;
	position: absolute;
	top:620px;
	margin: 0;
}

.player-container {
	border: solid 0px #606060;
	display: fixed;
	width:960px;
	height:700px;
	position:relative;
	background-color: #606060;
}
.media-title {
	position: relative;
	height: 24px;
}
.media-title p {
	font-size:16px;
	position: absolute;
	margin: 0;
    left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

progress {
	font-size:12px;
	width:960px;
	height:30px;
	border: 1px solid #000000;

}
progress::-moz-progress-bar { background:#ffffff; }

progress::-webkit-progress-bar {
	background:#c3c3c3;
	color:#86c317;
}
progress::-webkit-progress-value {
	background:#86c317;
	color:#ffffff;
}
