/* Playlist buttons */
#add-music-playlist-button{
    width:45px;
    height:27px;
    margin-bottom:-0.5em;
    margin-right:0.25em;
}

#fullscreen-music-table-button {
    width:29px;
    height:27px;
    margin-right:0.5em;
}

#add-music-button {
    font-size:1.75em;
    vertical-align:middle;
    margin-right:0.25em;
}

#add-video-playlist-button{
    width:45px;
    height:27px;
    margin-bottom:-0.5em;
    margin-right:0.25em;
}

#fullscreen-video-table-button {
    width:29px;
    height:27px;
    margin-right:0.5em;
}

#add-video-button {
    font-size:1.75em;
    vertical-align:middle;
    margin-right:0.25em;
}
/* Playlist buttons end*/


body {
    background-color:rgb(0, 132, 166);
}
div.title-bar {
    background-color:rgb(97, 148, 188);
    color:white;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:0.5em;
}
td.playlist-table {
    background-color:rgb(208, 234, 255);
}


/*CSS for actual content inside table*/
table.table.playlist {
    background-color:transparent;
    border:none;
    margin:0;
}

table.table.playlist tr{
    background-color:transparent;
    cursor:pointer;
}

table.table.playlist td {
    border-left:1px solid black;
    border-bottom:none;
    border-top:none;
    color:black;
}
table.table.playlist td:first-child {
    border-left:none;
}
table.table.playlist thead td {
    border-bottom: 1px solid black;
}
.table-fullscreen {
}

