.enlarge-button:hover{
    ms-transform: scale(1.25);
    -webkit-transform: scale(1.25); /* Safari */
    transform: scale(1.25);
    cursor:pointer;
}
.selected {
    background-color:#acbad4;
}
.enlarge-button{
    transition: 0.2s
}

.disabled {
    opacity:0.4;
    pointer-events: none;
}

.main-container {
    width:100%;
	position: absolute;
    left: 10%;
    top: 5%;
    width: 100%;
}

video.media-player {
}

h3.playlist-title {
    display:inline;
}

span.button-group {
    float:right;
}

