.enlarge-button:hover{
    ms-transform: scale(1.25);
    -webkit-transform: scale(1.25); /* Safari */
    transform: scale(1.25);
    cursor:pointer;
}

.enlarge-button{
    transition: 0.2s
}

/* Playlist buttons */
#add-music-playlist-button{
    width:45px;
    height:27px;
    margin-bottom:-0.5em;
    margin-right:0.25em;
}

#fullscreen-music-table-button {
    width:29px;
    height:27px;
    margin-right:0.5em;
}

#add-music-button {
    font-size:1.75em;
    vertical-align:middle;
    margin-right:0.25em;
}

#add-video-playlist-button{
    width:45px;
    height:27px;
    margin-bottom:-0.5em;
    margin-right:0.25em;
}

#fullscreen-video-table-button {
    width:29px;
    height:27px;
    margin-right:0.5em;
}

#add-video-button {
    font-size:1.75em;
    vertical-align:middle;
    margin-right:0.25em;
}
/* Playlist buttons end*/


body {
    background-color:rgb(0, 132, 166);
}
div.title-bar {
    background-color:rgb(97, 148, 188);
    color:white;
    padding-top:1em;
    padding-bottom:1em;
}
td.playlist-table {
    background-color:rgb(208, 234, 255);
}


/*CSS for actual content inside table*/
table.table.playlist {
    background-color:transparent;
    border:none;
    margin:0;
}

table.table.playlist td {
    background-color:rgb(208, 234, 255);
    border-left:1px solid black;
    border-bottom:none;
    border-top:none;
}
table.table.playlist thead td {
    border-bottom: 1px solid black;
}

/* Playlist content end here*/

.main-container {
    width:100%;
}

video.media-player {
    width: 100%;
    margin-top:-2%;
}

h3.playlist-title {
    display:inline;
}

span.button-group {
    float:right;
}

