.enlarge-button:hover{
    ms-transform: scale(1.25);
    -webkit-transform: scale(1.25); /* Safari */
    transform: scale(1.25);
    cursor:pointer;
}

.enlarge-button{
    transition: 0.2s
}

#add-music-playlist-button{
    width:45px;
    height:27px;
}

body {
    background-color:rgb(77, 77, 255);
}
div.title-bar {
    background-color:rgb(0, 138, 230);
    color:white;
    padding-top:1em;
    padding-bottom:1em;
}
td.playlist-table {
    background-color:rgb(77, 255, 195);
}


/*CSS for actual content inside table*/
table.table.playlist {
    background-color:transparent;
    border:none;
    margin:0;
}

table.table.playlist td {
    background-color:rgb(77, 255, 195);
    border-left:1px solid black;
    border-bottom:none;
    border-top:none;
}
table.table.playlist thead td {
    border-bottom: 1px solid black;
}

/* Playlist content end here*/

.main-container {
    width:100%;
}

video.media-player {
    width: 100%;
    margin-top:-2%;
}

h3.playlist-title {
    display:inline;
}

span.button-group {
    float:right;
}

